

<h1>{{firstName}}{{lastName}}</h1>
<div>
    <h5>Time Reading:</h5>
<div class="card">
    <ul>
        <li>Time reading:</li>
        <li>This month: </li>
        <li>This week: </li>
    </ul>
        <ul>
        <li>{{time}}</li>
        <li>{{time}}</li>
        <li>{{time}}</li>
    </ul>
</div>
</div>


<div>
    <h5>Books Completed:</h5>
<div class="card">
    <ul>
        <li>Time reading:</li>
        <li>This month: </li>
        <li>This week: </li>
    </ul>
        <ul>
        <li>{{time}}</li>
        <li>{{time}}</li>
        <li>{{time}}</li>
    </ul>
</div>
</div>