

<h1 class="merriweather">{{username}}</h1>
<hr>
<div>
    <h5 class="raleway">Time Reading:</h5>
<div class="card">
    <ul>
        <li class="raleway">Time reading:</li>
        <li class="raleway">This month: </li>
        <li class="raleway">This week: </li>
    </ul>
        <ul>
        <li class="raleway">{{time}}</li>
        <li class="raleway">{{time}}</li>
        <li class="raleway">{{time}}</li>
    </ul>
</div>
</div>


<div>
    <h5 class="raleway">Books Completed:</h5>
<div class="card">
    <ul>
        <li class="raleway">Time reading:</li>
        <li class="raleway">This month: </li>
        <li class="raleway">This week: </li>
    </ul>
        <ul>
        <li class="raleway">{{time}}</li>
        <li class="raleway">{{time}}</li>
        <li class="raleway">{{time}}</li>
    </ul>
</div>
</div>