
<div class="d-flex flex-column choiceBox">
    <div class="choiceTop d-flex flex-column">
        <h1 class="choiceTitle">Choose a Book:</h1>
        <hr class="choiceHr">
    </div>
    <div class="d-flex choiceCase flex-row">
        <div class="choiceCard">
            <div class="d-flex flex-row choiceSub">
                <h2 class="choiceSubtitle">{{bookname1}}</h2>
                <h2 class="choiceSubtitle">{{bookHours1}}</h2>
            </div>
            <p  class="choiceBody">{{bookBody1}}</p>
        </div>
        <div class="choiceCard">
            <div class="d-flex flex-row choiceSub">
                <h2 class="choiceSubtitle">{{bookname2}}</h2>
                <h2 class="choiceSubtitle">{{bookHours2}}</h2>
            </div>
            <p class="choiceBody">{{bookBody2}}</p>
        </div>
        <div class="choiceCard">
            <div class="d-flex flex-row choiceSub">
                <h2 class="choiceSubtitle">{{bookname3}}</h2>
                <h2 class="choiceSubtitle">{{bookHours3}}</h2>
            </div>
            <p  class="choiceBody">{{bookBody3}}</p>
        </div>
        <div class="choiceCard">
            <div class="d-flex flex-row choiceSub">
                <h2 class="choiceSubtitle">{{bookname4}}</h2>
                <h2 class="choiceSubtitle">{{bookHours4}}</h2>
            </div>
            <p  class="choiceBody">{{bookBody4}}</p>
        </div>
    </div>
    
</div>
